process {
    withName: CONCATENATE_QDNASEQ_PLOTS {
        containerOptions = { "--entrypoint='' ${containerOptions ?: ''}".trim() }
    }
    withName: CONCATENATE_BIN_PLOTS {
        containerOptions = { "--entrypoint='' ${containerOptions ?: ''}".trim() }
    }
    withName: CONCATENATE_ASCATSC_PLOTS {
        containerOptions = { "--entrypoint='' ${containerOptions ?: ''}".trim() }
    }
    withName: CONCATENATE_ASCATSC_REFITTED_PLOTS {
        containerOptions = { "--entrypoint='' ${containerOptions ?: ''}".trim() }
    }
}
