profiles {
    cluster {
        process.executor        = "slurm"
        process.cache           = "lenient"
        process.queue           = "cpu"
        process.memory          = "64G"
        params.max_cpus         = 100
        params.max_memory       = "260.GB"
        docker.enabled          = false
        singularity.enabled     = true
        singularity.runOptions  = "-B /home/incalci/shared,/mnt/nextseq/,/mnt/references,/opt/bcbio/1.2.8/genomes"
        singularity.libraryDir  = "/home/incalci/shared/singularity"
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.enabled           = false
        process.ext.singularity_pull_docker_container = true
    }

    cluster_boost {
        process.executor        = "slurm"
        process.cache           = "lenient"
        process.queue           = "boost"
        process.clusterOptions  = "--qos=boost"
        process.memory          = "128G"
        executor.queueSize      = 1
        params.max_cpus         = 28
        params.max_time         = "48h"
        docker.enabled          = false
        singularity.enabled     = true
        singularity.runOptions  = "-B /home/incalci/shared,/mnt/nextseq/,/mnt/references,/opt/bcbio/1.2.8/genomes"
        singularity.libraryDir  = "/home/incalci/shared/singularity"
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.enabled           = false
        process.ext.singularity_pull_docker_container = true
    }
}

process {
    ext.singularity_pull_docker_container = true

    withLabel:process_single {
        cpus   = 1
        memory = "6.GB"
        time   = "72.h"
    }
    withLabel:process_low {
        cpus   = 4
        memory = "12.GB"
        time   = "72.h"
    }
    withLabel:process_medium {
        cpus   = 10
        memory = "36.GB"
    }

    withLabel:process_high {
        cpus   = 18
        memory = "80GB"
        time   = "140.h"
    }
    withLabel:process_long {
        time   = "240.h"
    }
    withLabel:process_high_memory {
        memory = "200.GB"
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

}
