/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        
    }

    withName: BWA_INDEX {
        publishDir = [
            path: { "${params.outdir}/index/bwa"      }, 
            mode: params.publish_dir_mode
        ]
        ext.when = { params.aligner == "bwa-mem" }
        
    }

     withName: BWAMEM2_INDEX {
        publishDir = [
            path: { "${params.outdir}/index/bwamem2"      }, 
            mode: params.publish_dir_mode
        ]
        ext.when = { params.aligner == "bwa-mem2" }
        

    }
    
    withName: BWA_MEM {
        publishDir = [
            path: { "${params.outdir}/alignment/${meta.id}"      }, 
            mode: params.publish_dir_mode
        ]
        ext.when = { params.aligner == "bwa-mem" }
       
 
    }

    withName: BWAMEM2_MEM {
        publishDir = [
            path: { "${params.outdir}/alignment/${meta.id}"     }, 
            mode: params.publish_dir_mode
        ]
        ext.when = { params.aligner == "bwa-mem2" }
      
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/alignment/${meta.id}"     }, 
            mode: params.publish_dir_mode            
        ]
    }

    withName: SAMTOOLS_FAIDX {
        publishDir = [
            path: { "${params.outdir}/index/faidx"     }, 
            mode: params.publish_dir_mode            
        ]
    }


    withName: PICARD_MARKDUPLICATES {
        publishDir = [
            path: { "${params.outdir}/alignment/${meta.id}"     }, 
            mode: params.publish_dir_mode            
        ]
        ext.prefix = { "${meta.id}_markdup" }
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
