/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: BWA_INDEX {
        publishDir = [
            path: { "${params.outdir}/genome_index"      }, 
            mode: params.publish_dir_mode
        ]
        ext.when = { params.aligner == "bwamem" }
    }

    withName: BWA_MEM {
        publishDir = [
            path: { "${params.outdir}/alignment"      }, 
            mode: params.publish_dir_mode
        ]
        ext.when = { params.aligner == "bwamem" }
    }

    withName: BWAMEM2_INDEX {
        publishDir = [
            path: { "${params.outdir}/genome_index"      }, 
            mode: params.publish_dir_mode
        ]
    ext.when = { params.aligner == "bwamem2" }
    }
        
    withName: BWAMEM2_MEM {
        publishDir = [
            path: { "${params.outdir}/alignment"      }, 
            mode: params.publish_dir_mode
        ]
        ext.when = { params.aligner == "bwamem2" }
    }

    withName: PICARD_MARKDUPLICATES {
        publishDir = [
            path: { "${params.outdir}/markduplicates"     }, 
            mode: params.publish_dir_mode            
        ]
        ext.prefix = { "${meta.id}_markdup" }
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/markduplicates"     }, 
            mode: params.publish_dir_mode            
        ]
    }

    withName: SAMTOOLS_STATS {
        publishDir = [
            path: { "${params.outdir}/markduplicates/stats"     }, 
            mode: params.publish_dir_mode            
        ]
    }

    withName: SAMTOOLS_IDXSTATS {
        publishDir = [
            path: { "${params.outdir}/markduplicates/stats"     }, 
            mode: params.publish_dir_mode            
        ]
    }

    withName: SAMTOOLS_FLAGSTAT {
        publishDir = [
            path: { "${params.outdir}/markduplicates/stats"     }, 
            mode: params.publish_dir_mode            
        ]
    }

    withName: SAMTOOLS_STATS_PRE {

        publishDir = [
            path: { "${params.outdir}/samtools_stats_pre" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.prefix =  { "${meta.id}_stats_pre" }
    }

    withName: SAMTOOLS_VIEW {
        publishDir = [
            path: { "${params.outdir}/bam_size_selected" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args = [
            "-e '((tlen > -150 && tlen < -90) || (tlen > 90 && tlen < 150)) && mapq >= 20 && flag !=0x12'",
            "--bam",
        ].join(' ')
        
        ext.prefix = { "${meta.id}_filtered" }
    }

    withName: SAMTOOLS_INDEX_SIZE_SELECTION {

        publishDir = [
            path: { "${params.outdir}/bam_size_selected" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.prefix =  { "${meta.id}_filtered" }
    }

    withName: SAMTOOLS_STATS_POST {

        publishDir = [
            path: { "${params.outdir}/samtools_stats_post" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.prefix =  { "${meta.id}_stats_post" }
    }

    withName: BAMPE_FRAGMENTSIZE {

        publishDir = [
            path: { "${params.outdir}/fragment_distributions" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

        ext.args = [
            params.max_fragmentsize ? "--maxFragmentLength ${params.max_fragmentsize}": "--maxFragmentLength 180",
            params.binsizes ? "--binSize ${params.binsizes}" : "",
            params.title ? "--plotTitle '${params.title}'" : "",
        ].join(' ')
    }

    withName: QDNASEQ {
        publishDir = [
            [
                path: { "${params.outdir}/qdnaseq/bins" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*_bins.bed"
            ],
            [
                path: { "${params.outdir}/qdnaseq/segments" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*.seg"
            ],
            [
                path: { "${params.outdir}/qdnaseq/plots" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*.pdf"
            ],
            [
                path: { "${params.outdir}/qdnaseq/" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: "*.rds"
            ],
        ]
        ext.args = [
            params.genome ? "--genome ${params.genome}": "",
            params.purity ? "--purity ${params.purity}": "",
        ].join(' ')
    }

    withName: CONCATENATE_BIN_PLOTS {
        publishDir = [
            path: { "${params.outdir}/qdnaseq/plots"     }, 
            mode: params.publish_dir_mode            
        ]
    }

    withName: CONCATENATE_SEG_PLOTS {
        publishDir = [
            path: { "${params.outdir}/qdnaseq/plots"     }, 
            mode: params.publish_dir_mode            
        ]
    }
    
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
