/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run dincalcilab/samurai -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile ASCAT.sc'
    config_profile_description = 'Minimal test dataset to check pipeline function with ASCAT.sc caller and solid_biopsy subworkflow.'

    // Limit resources so that this can run on GitHub Actions
    cpus   = 2
    memory = '6.GB'
    time   = '6.h'

    // Input data
    input  = 'https://github.com/DIncalciLab/samurai-test-data/raw/refs/heads/master/samplesheet.csv'

    // Genome references
    genome = 'hg38'

    // Skip alignment
    aligner = false
    analysis_type = 'solid_biopsy'
    caller = 'ascat_sc'
    igenomes_ignore = false
    binsize = 30
}
