/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run dincalcilab/samurai -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    // Limit resources so that this can run on GitHub Actions
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile ichorCNA'
    config_profile_description = 'Minimal test dataset to check pipeline function with ichorCNA caller and liquid_biopsy subworkflow.'

    // Input data
    input  = 'https://github.com/DIncalciLab/samurai-test-data/raw/refs/heads/master/samplesheet.csv'

    // Genome references
    genome = 'hg38'

    // Skip alignment
    aligner = false
    analysis_type = 'liquid_biopsy'
    caller = 'ichorcna'
    igenomes_ignore = false
    binsize = 500
    normal_panel = "${projectDir}/assets/ichorcna/HD_ULP_PoN_hg38_500kb_median_normAutosome_median.rds"
    ichorcna_gc_wig = "${projectDir}/assets/ichorcna/gc_hg38_500kb.wig"
    ichorcna_map_wig = "${projectDir}/assets/ichorcna/map_hg38_500kb.wig"
    ichorcna_centromere_file = "${projectDir}/assets/ichorcna/GRCh38.GCA_000001405.2_centromere_acen.txt"
    ichorcna_reptime_wig = "${projectDir}/assets/ichorcna/Koren_repTiming_hg38_500kb.wig"
}
