name: SAMURAI CI
# This workflow is triggered on pushes and PRs to the repository.
# It runs the `nf-core lint` and markdown lint tests to ensure
# that the code meets the nf-core guidelines.
on:
  push:
  pull_request:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      clean_runner:
        description: "Force runner disk cleanup before executing checks"
        type: boolean
        default: false

env:
  NXF_ANSI_LOG: false

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  nf-core:
    name: Checks CI
    runs-on: ubuntu-latest
    env:
      RUN_DISK_CLEANUP: ${{ (github.event_name == 'workflow_dispatch' && github.event.inputs.clean_runner == true) || (github.event_name == 'release') || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'ci:full-clean')) }}
    steps:
      - name: Check out pipeline code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Nextflow
        uses: nf-core/setup-nextflow@v2.0.0
        with:
          version: "24.10.1"

      - name: Disk space cleanup
        if: ${{ env.RUN_DISK_CLEANUP == 'true' }}
        uses: jlumbroso/free-disk-space@v1.3.1

      - name: Run pipeline config and test for syntax errors
        run: |
          nextflow config -flat .
      - name: Run pipeline and test for syntax errors
        run: |
          nextflow run main.nf --help
